<a href="https://colab.research.google.com/github/kimsierra/R-course/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python에서 제공하는 문자열 내장함수

In [ ]:
# 문자열의 길이를 출력
a = 'Hello'
b = ' Hello '

In [ ]:
print(len(a))
print(len(b))

5
7

In [ ]:
## 문자의 현태를 변환 (대,소문자 변환)
a = "Hello world"

# 문자를 모두 대문자로 변환하는 함수
print(a.upper())
# 문자를 모두 소문자로 변환하는 함수
print(a.lower())
# 문자의 대문자를 소문자로, 소문자를 대문자로 변환
print(a.swapcase())
# 단어의 첫글자를 대문자로 변환
print(a.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [ ]:
print(a)

Hello world

In [ ]:
_list = [4, 3, 2, 6]
print(_list.sort())

None

In [ ]:
## 문자열의 좌우의 공백을 제거하는 함수
test_text = "  Hello World  "
test_text

'  Hello World  '

In [ ]:
## 양쪽의 공백을 모두 제거 : strip()
test_text.strip()

'Hello World'

In [ ]:
## 좌측의 공백을 제거 : lstrip()
## 우측의 공백을 제거 : rstrip()
test_text.lstrip()

'Hello World  '

In [ ]:
test_text.rstrip()

'  Hello World'

In [ ]:
test = '$100'
print(type(test))

<class 'str'>

In [ ]:
int(test.lstrip('$'))

100

In [ ]:
print(test)
test = test.lstrip('$')
print(test)
print(type(test))
test = int(test)
print(test)
print(type(test))

$100
100
<class 'str'>
100
<class 'int'>

In [ ]:
a = 'Hello world'
b = ' Hello WORLD '
a == b

False

In [ ]:
# a 와 b 같게 만들기
b = b.strip()
a = a.upper()
b = b.upper()
print (a)
print (b)

HELLO WORLD
HELLO WORLD

In [ ]:
a == b

True

In [ ]:
## 특정 문자를 다른 문자로 치환하는 함수
## replace({특정문자},{치환할 문자})
a.replace('HELLO','HI')

'HI WORLD'

In [ ]:
a = '상 품 A'
b = '상품a'
a == b

False

In [ ]:
# a 변수의 데이터의 문자열 사이의 공백을 제거
# b 변수의 데이터는 모두 대문자로 변환
b = b.upper()
a = a.replace(' ','')
a == b

True

In [ ]:
# 특정 문자열을 기준으로 문자열을 나눠주는 함수
# split() -> 인자 값을 기본 값으로 공백
a = 'a b c d'
print(a)

a b c d

In [ ]:
print(a.split())

['a', 'b', 'c', 'd']

In [ ]:
b = '1/2/3/4/5/6'
print(b.split('/'))

['1', '2', '3', '4', '5', '6']

In [ ]:
sql_data = """
  select
  *
  from
  user
"""

In [ ]:
sql_data.strip().split()[0]

'select'

In [ ]:
sql_data3 = """
  SELECT
  *
  FROM
  user
"""

In [ ]:
sql_data3.lower().strip().split()[0] == 'select'

True

In [ ]:
sql_data3.lower().strip().startswith('select')

True

### 일반 함수
 - 어떠한 입력값을 가지고 작업을 실행하고 결과물을 되돌려주는 기능

In [ ]:
def func_1(a, b):
  result = a + b
  return result

def func_2(a, b):
  result = a + b
  print(result)

In [ ]:
test = func_1(3,6)

In [ ]:
test2 = func_2(3,6)

9

In [ ]:
print(test)
print(test2)

9
None

In [ ]:
## 인자의 개수가 가변인 경우 함수 생성
def func_3(*args):
  print(type(args))
  print(args)
  print(len(args))

In [ ]:
func_3(1,2,3,4,5)
func_3(6,10,'test')

<class 'tuple'>
(1, 2, 3, 4, 5)
5
<class 'tuple'>
(6, 10, 'test')
3

In [ ]:
## 매개 변수 2개 인 함수 만들기
## 두 개의 매개변수 중 작은 값을 되돌려주는 함수 만들기
def func_4(a,b):
  if a < b:
    return a
  else:
    return b

In [ ]:
func_4(10,4)

4

In [ ]:
func_4(5,7)

5

In [ ]:
min(10,5,8,13,4,6)

4

#### 함수 문제
- min() 함수를 똑같이 만들어보자
  - 인자의 개수는 가변
  - 지역변수 result를 생성하여 인자의 첫번째 값을 대입
  - 각 인자의 값들을 비교하여 가장 작은 값을 지역 변수 result에 대입 후
  - result를 되돌려준다

In [63]:
def func_5(*a):
  result = a[0]
  # case 1
  #for i in range(1, len(a),1):
   # if result > a[i]:
    #  result = a[i]
  # case 2
  for i in a[1:]:
    if result > i :
      result = i
  return result

In [60]:
func_5(3,5,7,1,2)

1

In [68]:
## 평균 값을 되돌려주는 함수 생성
## 인자의 개수는 가변
def func_6(*args):
  result = 0
  cnt = 0
  for i in args:
    result += i
    cnt += 1
  #result = result / cnt
  result /= cnt
  return result

In [69]:
func_6(1,2,3,4,5)

3.0

In [73]:
# 매개변수 2개를 생성
# 첫 번째 매개변수는 최솟값, 평균을 선택하는 변수
# 두 번째 매개변수는 인자의 개수가 가변
def func_7(flag, *args):
  if flag == 'min':
    result = args [0]
    for i in args[1:]:
      if result > i :
        result = i
  elif flag == 'mean':
    result = 0
    cnt = 0
    for i in args:
      result += i
      cnt += 1
    result /= cnt
  return result

In [79]:
print(func_7('min',1,4,5))
print(func_7('mean',1,2,3,4,5))

1
3.0